<div id="ai-bot-widget" style="
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
">

    <div class="" style="background-color: #004225;position: relative;border-radius: 8px 8px 0 0 ">
        <div class=""
             style=" height: 54px; display: flex; justify-content: flex-start; align-items: center; gap: 10px;padding: 10px;">
            <img src="/static/icons/logo.png" alt="logo" width="30px">
            <span style="color: white">Помощник в НьюКей</span>
        </div>
        <div class="">
            <img src="/static/icons/ai.png" alt="ai" style="width: 56px;position: relative;z-index: 9;left: 40px;">
        </div>
        <img src="/static/icons/Exclude.png" style="position: absolute; left: 11px; bottom: 0;width: 115px" alt="item">
    </div>
    <div class="" style="padding: 10px; height: 100%;flex-direction: column;
    display: flex;">
        <div id="chat-messages" style="flex:1; overflow-y:auto; margin-bottom:10px;">

        </div>

        <div style="display:flex;">
            <input id="chat-input" type="text" placeholder="Ваш вопрос..." style="flex:1;">

            <svg id="chat-send" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
                 fill="none">
                <path d="M6.66406 30.8332V9.1665L32.3691 19.9998L6.66406 30.8332ZM8.33073 28.3332L28.0807 19.9998L8.33073 11.6665V18.1415L16.4074 19.9998L8.33073 21.8598V28.3332Z"
                      fill="#004225"/>
            </svg>

        </div>
    </div>

</div>

<style>
#chat-messages{
    div{
        color: white;
    background: #164225;
    padding: 5px;
    border-radius: 8px;
    }
}
</style>